---
layout: default
title: Home
---
<header class='feature-article'>
	<div class='container'>
		<div class="main-carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
			{% for post in site.posts limit:3 %}
		  <div class="carousel-cell">
				<h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>
				<p class='post-summary'>{{ post.summary }}</p>
				<div class='tag-wrap'>
					<div class='rounded'>
						<p class='genre'>{{ post.genre }}</p>
					</div>
					<div class='rounded'>
						<p class='author'>{{ post.author }}</p>
					</div>
					<div class='rounded'>
						<p class='words'>{{ post.words }}</p>
					</div>
				</div>
		  </div>
		  {% endfor %}
		</div>
	</div>
</header>





<div class='container'>

	{% for post in site.posts %}
		<div class='article-wrap'>

			<header>
				<h2>
					<a href='{{ post.url }}'>{{ post.title }}</a>
					<br>
					<b><span class='post-date'>{{ post.date | date_to_string }}</span><i class="fa fa-tag" aria-hidden="true"></i> {{ post.category}}</b>
				</h2>

			</header>

			<article class='post-summary'>
				{{ post.summary }}

			</article>


			<div class='divider'></div>

		</div>
	{% endfor %}

</div>
