.feature-article
	background: $purple
	color: white
	padding: 100px 10px 50px 10px

	.container
		max-width: 920px
		text-align: center

	button
		display: none
	/* position dots in gallery
	.flickity-page-dots
		bottom: 0px
		.dot
			width: 12px
			height: 12px
			//opacity: 1
			background: transparent
			border: 2px solid white
			&.is-selected
				background: white

	.carousel-cell
		@media (min-width: 768px)
			padding: 0 100px
		width: 100%
		//box-sizing: border-box
		height: auto

		h1
			font-size: 48px
			line-height: 1.1
			a
				color: white
				text-decoration: none
		.post-summary
			margin: 20px auto

.article-wrap
	margin-top: 20px
	header
		h2
			a
				color: #4A4A4A
				font-size: 24px
				text-decoration: none

			b
				color: rgba(225, 116, 115, .7)
				font-size: 14px
				padding-top: 0

				span.post-date
					color: rgba(74, 74, 74, .7)
					font-weight: 300
					margin-right: 25px

	article.post-summary
		color: rgba(74, 74, 74, .7)
		font-size: 14px



	.divider
		height: 1px
		width: 215px
		background: #D6D2D2
		margin-top: 30px
